<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="xhtml, html5, form" />
	<meta name="author" content="PE Cochet - Fr Michel - Ch Chaumier - Mx Brunet" />
	<title>YouPoncture</title>
	<link href="/youponcture/public/css/stylesheet.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<header>
		<div class="bandeau">
			<img src="" alt="">
			<h1>YouPoncture</h1>
			<span><i class="fa fa-user"></i></span>
		</div>
		<div class="menu">
				<ul>
					<li><a href="youponcture//public/index.html">Accueil</a></li>
					<li><a href="youponcture//application/templates/recherche.html">Wiki pathologie</a></li>
					<li><a href="youponcture//application/templates/infos.html">Informations</a></li>				
				</ul>
		</div>
	</header>

	<div class="content">

		<div class="erreur">
			Erreur 404 : page inaccessible!

		</div>

	</div>




	<footer>
		<ul>
			<li><a href="">Auteur</a></li>
			<li><a href="">Plan du site</a></li>
			<li>Copyright</li>
		</ul>
	</footer>

</body>
</html>