<!DOCTYPE html>
<html lang="fr">
<head>
	<title>YouPoncture</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="Easily search acupuncture pathology with key words">
	<meta name="keywords" content="acupuncture, pathology, search" />
	<meta name="author" content="PE Cochet - Fr Michel - Ch Chaumier - Mx Brunet" />
	<link href="css/stylesheet.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<header>
		<div class="banner">
			<!-- <img src="" alt=""> -->
			<h1>YouPoncture</h1>
			<span><i class="fa fa-user"></i></span>
		</div>
		<div class="menu">
			<ul>
				<li><a href="../public/index.html">Accueil</a></li>
				<li><a href="../public/recherche.html">Wiki pathologie</a></li>
				<li><a href="../public/infos.html">Informations</a></li>				
			</ul>
		</div>
	</header>

	<div class="content">
		<div class="login">
			<h1>Se connecter</h1>
			<form action="#" method="post">
				<input class="email" type="email" id="email_addr" name="email_addr" tabindex="1" required oninput="checkMail(this)">
				<input class="pwd" type="password" id="password" name="password" tabindex="2" required>
				<input type="submit" tabindex="3">Connexion>
			</form>
		</div>

		<div class="register">
			<h1>Nouvel utilisateur</h1>
			<form action="#" method="post">
				<input type="text" id="lst_name_subscr" name="nom" placeholder="Rentrez votre nom" tabindex="4">
				<input type="text" id="frst_name_subscr" name="prenom" placeholder="Rentrez votre prenom" tabindex="5">
				<input type="text" id="lgn_subscr" name="login" placeholder="Rentrez votre adresse email" tabindex="6">
				<input type="password" id="pwd_subscr" name="pwd_subscr" tabindex="7">
				<input type="password" class="confirmed" id="pwd_2_subscr" name="pwd_2_subscr" tabindex="8">
				<input type="submit" id="accnt_subscr" name="accnt_subscr" tabindex="9">
			</form>
		</div>
	</div>

	<footer>
		<ul>
			<li><a href="#">Auteur</a></li>
			<li><a href="#">Plan du site</a></li>
			<li>Copyright</li>
		</ul>
	</footer>
</body>
</html>