<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="xhtml, html5, form" />
	<meta name="author" content="PE Cochet - Fr Michel - Ch Chaumier - Mx Brunet" />
	<title>YouPoncture</title>
	<link href="/youponcture/public/css/stylesheet.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<header>
		<div class="bandeau">
			<img src="" alt="">
			<h1>YouPoncture</h1>
			<span><i class="fa fa-user"></i></span>
		</div>
		<div class="menu">
				<ul>
					<li><a href="../public/index.html">Accueil</a></li>
					<li><a href="../application/templates/recherche.html">Wiki pathologie</a></li>
					<li><a href="../application/templates/infos.html">Informations</a></li>				
				</ul>
		</div>
	</header>

	<div class="content">


		<div class="dev">
			<h1>Développements effectués</h1>
			<table id="list_result" border="1" >
				<tr>
				   <th>C.Chaumier</th>
				   <th>Pec</th>
				   <th>MAx</th>
				</tr>
				<tr>
					<td>test</td>
					<td>test</td>
					<td>test</td>		
				</tr>
			</table>
		</div>

		<div class="auteurs">
			<h1>Auteurs - développeurs</h1>
			<ul>	
				<li>test</li>
				<li>test</li>
				<li>test</li>
			<ul/>
		</div>

		<div class="sources">
			<h1>Nos sources</h1>

		</div>

		<div class="ressources">
			<h1>Bibliographie - Webographie</h1>

		</div>
	</div>




	<footer>
		<ul>
			<li><a href="">Auteur</a></li>
			<li><a href="">Plan du site</a></li>
			<li>Copyright</li>
		</ul>
	</footer>

</body>
</html>