//**
//* Content
//**/

.content
	min-height: 100%
	/* equal to footer height */
	margin-bottom: -142px
	margin: 0px
	padding: 40px 0 10px 0
	display: block 
	font-family: 'Gotham Narrow SSm','Helvetica Neue',Helvetica,sans-serif 
	background: white 
	height: 90% 
	background-color: #b3e0ff 
	background-repeat: no-repeat 
	background-position: right top

	&:after
		content: ""
		display: block

	input
		width: 100%
		height: 30px
		font-family: Arial, sans-serif
		font-size: 13px
		border: none
		opacity: 1
		background: white
		display: block
		margin-bottom: 10px
		z-index: 3

.login
	small
		font-size: 13px

.register, .login
	background-color: rgba(255, 255, 255, 0.4)
	border-radius: 10px
	padding: 5px 5% 5px 5%
	width: 80%
	min-width: 250px
	margin: 0 auto 15px auto
	overflow: hidden

	h1
		margin-left: 0%

.content_infos
	border-radius: 10px
	padding: 5px 5% 5px 5%
	width: 100%
	min-width: 250px
	margin: 0 auto 15px auto
	overflow: hidden

	h1
		margin-left: 0%

	ul
		font-size: 18px

	p
		font-size: 18px

	a:link
		color: white

	a:visited
		color: white

	a:hover
		color: white
		text-decoration: none

	a:active
		color: white

input[type="submit"]
	width: auto
	height: 30px
	display: block
	margin-bottom: 10px

label
	width: 65%
	height: 30px
	opacity: 0.4
	display: block
	margin: 2px auto 2px auto
	z-index: 3

table
	display: inline-block

.rss_feed
	width: 100%
	font-size: 13px
	padding: 5px 0% 5px 0%
	display: inline-block
	float: inherit

.container
	width: 300px
	margin: auto

.col1
	width: 60%
	float: left

.col2
	width: 40%
	float: left
	display: block

.member_search
	display: none

.keyword_results
	display: none