//**
//* Content
//**/

//accueil
.content
	min-height: 100%
	/* equal to footer height */
	margin-bottom: -142px
	margin: 0px
	padding: 10px 0 10px 0
	display: inline
	font-family: 'Gotham Narrow SSm','Helvetica Neue',Helvetica,sans-serif 
	height: 90% 
	background-color: $background-blue
	background-repeat: no-repeat 
	background-position: right top

	&:after
		content: ""
		display: block

	h1
		font-size: 20px

	.login, .register, .rss_feed
		min-width: 200px
		overflow: scroll

		input
			margin-bottom: 2px
	
	//informations
	.auteurs, .sources, .ressources
		min-width: 200px
		overflow: scroll

		p
		margin-left: 5px
//recherches
.content_infos
	padding: 5px 5px 5px 5px
	width: 100%
	min-width: 250px
	margin: 0 auto 10px auto
	overflow: hidden

	h1
		margin-left: 0%

	ul
		font-size: 18px

	p
		font-size: 18px

	a:link
		color: white

	a:visited
		color: white

	a:hover
		color: white
		text-decoration: none

	a:active
		color: white

	small
		font-size: 20px

	select
		width: 30%

	input
		width: 60%

input[type="submit"]
	width: auto
	height: 30px
	display: block
	margin-bottom: 10px

label
	width: 65%
	height: 30px
	opacity: 0.4
	display: block
	margin: 2px auto 2px auto
	z-index: 3

table
	display: inline-block



.col1
	width: 60%
	float: left

.col2
	width: 40%
	float: left
	display: block

.member_search
	display: none

.keyword_results
	display: none
	
	
			