/*FOOTER*/
footer
	display: block
	width: 100%
	background: $color-footer
	height: $taille-footer
	overflow: hidden
	font-family: $font-stack-2

	ul
		list-style-type: none

		li
			display: inline-block
			color: white
			padding: 0 12%

			a
				text-decoration: none
				color: white

