/**
* Footer
**/

.foo-content
	div 
	  padding-top: 40px
	  text-align: center

.page-wrap 
 	min-height: 100%
	/* equal to footer height */
	margin-bottom: -142px
	background-color: #b3e0ff
	background-repeat: no-repeat
	background-position: right top

  	&:after 
	  content: ""
	  display: block
	  height: 142px 

footer
	min-height: 142px 
	font: 1.5em Helvetica Neue, Helvetica, Arial, sans-serif
	font-weight: bold
	color: white
	background-color: #4c585c

	ul 
		list-style-type: none

	li 
		display: inline-block
		color: white
		padding: 0 12%

	a:link 
 		color: white

	a:visited 
 		color: white 

	a:hover 
		color: white
		display: block
		color: #80898c
		text-decoration: none	

	a:active 
		color: white