/*GENERAL CONF */
html, body, div, header {
  margin: 0;
  padding: 0; }

/*TOP HEAD */
html, body {
  margin: 0;
  height: 100%; }

header, nav {
  margin: 0;
  padding: 0; }

.bandeau {
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
  background-color: #e0286c;
  box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  display: block;
  overflow: hidden; }
  .bandeau h1 {
    margin: 0;
    padding: 0 0 5px 35px;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
    color: white;
    opacity: 1;
    text-shadow: 2px 2px 3px rgba(122, 122, 122, 0.5); }
  .bandeau ul {
    margin: 0px;
    padding: 0 0 0 35px;
    font: 1.5em Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #dea6bb;
    min-width: 200px;
    overflow: hidden; }
    .bandeau ul li {
      display: block;
      font-size: 0.9em; }
  .bandeau a:link {
    color: white; }
  .bandeau a:visited {
    color: white; }
  .bandeau a:hover {
    color: white;
    display: block;
    background-color: #e0286c;
    text-decoration: none; }
  .bandeau a:active {
    color: white; }

/*BOTTOM FOOTER */
.foo-content div {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -110px;
  background-color: #b3e0ff;
  background-repeat: no-repeat;
  background-position: right top; }
  .page-wrap:after {
    content: "";
    display: block;
    height: 110px; }

footer {
  min-height: 110px;
  font: 1.5em Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #4c585c; }
  footer ul {
    list-style-type: none; }
  footer li {
    display: inline-block;
    color: white;
    padding: 0 12%; }
  footer a:link {
    color: white; }
  footer a:visited {
    color: white; }
  footer a:hover {
    color: white;
    display: block;
    color: #80898c;
    text-decoration: none; }
  footer a:active {
    color: white; }

/*CONTENT PAGE */
.content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
  margin: 0px;
  padding: 10px 0 10px 0;
  display: inline;
  font-family: "Gotham Narrow SSm", "Helvetica Neue", Helvetica, sans-serif;
  height: 90%;
  background-color: #b3e0ff;
  background-repeat: no-repeat;
  background-position: right top; }
  .content:after {
    content: "";
    display: block; }
  .content h1 {
    font-size: 20px; }
  .content .login, .content .register, .content .rss_feed {
    min-width: 200px;
    overflow: scroll; }
    .content .login input, .content .register input, .content .rss_feed input {
      margin-bottom: 2px; }
  .content .auteurs, .content .sources, .content .ressources {
    min-width: 200px;
    overflow: scroll;
    margin-left: 5px; }

.content_infos {
  padding: 5px 5px 5px 5px;
  width: 100%;
  min-width: 250px;
  margin: 0 auto 10px auto;
  overflow: hidden; }
  .content_infos h1 {
    margin-left: 0%; }
  .content_infos ul {
    font-size: 18px; }
  .content_infos p {
    font-size: 18px; }
  .content_infos a:link {
    color: white; }
  .content_infos a:visited {
    color: white; }
  .content_infos a:hover {
    color: white;
    text-decoration: none; }
  .content_infos a:active {
    color: white; }
  .content_infos small {
    font-size: 20px; }
  .content_infos select {
    width: 30%; }
  .content_infos input {
    width: 60%; }

input[type="submit"] {
  width: auto;
  height: 30px;
  display: block;
  margin-bottom: 10px; }

label {
  width: 65%;
  height: 30px;
  opacity: 0.4;
  display: block;
  margin: 2px auto 2px auto;
  z-index: 3; }

table {
  display: inline-block; }

.col1 {
  width: 60%;
  float: left; }

.col2 {
  width: 40%;
  float: left;
  display: block; }

.member_search {
  display: none; }

.keyword_results {
  display: none; }

/*# sourceMappingURL=stylesheet_mobile.css.map */
