/*GENERAL CONF*/
$taille-footer: 70px

body
	background: url(../img/image_acupuncture_dos.jpg)
	display: inline-block
	
/*TOP HEAD*/
@import header

/*BOTTOM FOOTER*/
@import footer

/*CONTENT PAGE*/
@import content
