/*GENERAL CONF*/
$taille-footer: 70px
$color-footer: #4C585C
$color_theme: #E0286C
$color_2: #EFF5D3

html, body
	margin: 0
	padding: 0
	
/*TOP HEAD*/
@import header

/*BOTTOM FOOTER*/
@import footer

/*CONTENT PAGE*/
@import content
